@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@font-face {
  font-family: 'Valorant';
  src: url('./assets/fonts/ValorantFont.ttf') format('truetype');
  font-weight: normal;
}